extends ../layout.jade

block content
    #modificarDatos
            h3 Guardar nuevo Npc
            form(method='post')
                .separador
                    label(for='idNpc') Id: 
                    input(type='text' name='idNpc' placeholder='#{idnNpc}' tabindex=1)
                .separador
                    label(for='nombreNpc') Nombre:
                    input(type='text' name='nombreNpc' placeholder='#{nombre}' tabindex=2)    
                .separador
                    label(for='vidaNpc') vida:
                    input(type='text' name='rarezaItem' placeholder='#{rareza}' tabindex=3)    
                .separador
                    label(for='danoNpc') Daño:
                    input(type='text' name='sanacionItem' placeholder='#{sanacion}' tabindex=4)    
                .separador
                    label(for='lvlNpc') Nivel:
                    input(type='text' name='valorItem' placeholder='#{valor}' tabindex=5)    
                .separador
                    label(for='idMundoNpc') Mundo:
                    input(type='text' name='danoItem' placeholder='#{dano}' tabindex=6)    
                .separador
                    label(for='claseNpc') Clase:
                    input(type='text' name='tipoItem' placeholder='#{tipo}' tabindex=7)    
                .separador
                    label(for='idItemNpc') Item suelta:
                    input(type='text' name='maxItem' placeholder='#{max}' tabindex=8)    
                .separador
                    label(for='Dialogo') Dialogo:
                    input(type='text' name='descItem' placeholder='#{desc}' tabindex=9)    
                .separador
                    input(type='button' name='guardar' value='Guardar') 
                    input(type='button' name='cancelar' value='Limpiar')
                    input(type='button' name='cancelar' value='Cancelar')  
